.add-background {
  color: linear-gradient(0deg, #070707, #ffffff);
  font-family: sans-serif;
  min-height: 100vh;
  background-image: url("./components/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 0 170px; */
  background-attachment: fixed;
}
